.bg-dark-room-surgeon{
    background-image: url(../assets/images/dark-room-hospital.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-title-1{
    background-image: url(../assets/images/title-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}