.breadcrumb {
    li {
        &:not(:last-child){
            font-weight: 600;
            &:after {
                content: "/";
                margin-right: 2px;
            }
        }
    }
}
