@use "../_partials/mixins";

.product-listing-card {
  .title {
    height: 40px;
    font-size: 0.9rem;
    line-height: 20px;
    overflow: hidden;
    // background-color: red;
    text-overflow: ellipsis;
  }
}

.out-of-stock {
  --textWidth: 100px;
  position: relative;
  &::after {
    content: "Out of stock";
    font-weight: 400;
    font-size: 15px;
    color: #1b2c19;
    background: #f2cb56;
    border: 1px solid #818181;
    border-radius: 5px;
    padding: 0.1em 0.3em;
    position: absolute;
    top: 46%;
    left: calc(50% - calc(var(--textWidth) / 2));
    display: block;
    margin: 0 auto;
    width: var(--textWidth);
    z-index: 3;
  }
  &::before {
    content: "";
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    background-color: #ffffff8e;
    // background-color: red;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
  &:hover {
    img {
      transform: scale(1);
      transition: unset;
    }
    .card-footer {
      display: none;
    }
  }
}

.feature-card {
  overflow: hidden;
  position: relative;
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  img {
    transform: scale(1);
    position: relative;
    z-index: 0;
    transition: transform 0.5s ease-in-out;
  }
  .title {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: var(--size-400);
    span {
      font-weight: var(--fw-semi-bold);
      background-color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      color: var(--clr-neutral-500);
      font-size: var(--fs-50);
      line-height: var(--size-500);
      padding: var(--size-200) var(--size-200);
      border-radius: var(--size-200);
    }
  }
  @include mixins.minmq(50em) {
    .title {
      span {
        line-height: var(--size-500);
        padding: var(--size-200) var(--size-300);
        border-radius: var(--size-200);
      }
    }
  }
}

.review-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  line-height: 20px;
  .review-footer {
    position: relative;
    .foot-image {
      width: 60px;
      height: 60px;
      border-radius: 100vmax;
      overflow: hidden;
      position: absolute;
      right: 30px;
      top: -30px;
    }
  }
}
