@use "../_partials/mixins";
.main-toolbar {
  .navlist {
    > a {
      position: relative;
      display: block;
      &:not(&:last-child) {
        @include mixins.minmq(50em) {
          .nav-item {
            margin-right: var(--size-600);
          }
        }
        &:after {
          content: "";
          display: block;
          height: 2px;
          background-color:  var(--clr-primary-500);
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 300ms ease-out;
        }
        &[aria-current="page"] {
          color: var(--clr-primary-500);
          font-weight: 600;
        }
        &:hover,
        &[aria-current="page"] {
          &:after {
            width: 100%;
            transform: scaleX(1);
            transition: transform 300ms ease-in;
          }
        }
      }
    }
  }
}
