.product-action-details {
    table {
        th,
        td {
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            background-color: var(--cli-accent-50);
        }
    }

    .social-icons{
        .label{
            margin-right: 4.4em;
        }

        .social-icon {
            max-width: 24px;
            margin-right: .3em;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
