
    table {
        &.table-pd-1{
            th,
            td {
                padding-top: 0.8em;
                padding-bottom: 0.8em;
                background-color: var(--cli-accent-50);
            }
        }
    }

