@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;700&display=swap");
/* minimum media query */
/* maximum media query */
/* maximum and minimum query */
/* tranform effects */
/* transition effects */
/* form control appearance */
/* 'before' pseudo element style */
/* 'after' pseudo element style */
/* padding-block size */
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  width: 100%;
  color: var(--clr-secondary-500);
  margin: 0;
  padding: 0;
  font-family: var(--ff-body);
}
html *:focus,
body *:focus {
  box-shadow: none;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/* font sizes */
.fs-50 {
  font-size: var(--fs-50);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-150 {
  font-size: var(--fs-150);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

/* Padding */
.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-700 {
  padding-block: calc(var(--size-600) + var(--size-400));
}

.padding-block-800 {
  padding-block: calc(var(--size-600) + var(--size-400) + var(--size-400));
}

.pill {
  border-radius: 100vmax;
}

.after-pseudo-icon {
  display: flex;
}
.after-pseudo-icon.caret-down::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit;
  margin-left: 1em;
  color: var(--clr-bright);
}

/* Animation Classes*/
.fade-in {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
.fade-in.appear {
  opacity: 1;
}

.from-left,
.from-right,
.from-bottom {
  transition: transform 1000ms ease-in-out;
  position: absolute;
  opacity: 0;
}
.from-left.appear,
.from-right.appear,
.from-bottom.appear {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}

.from-left {
  transform: translateX(-5em);
}

.from-right {
  transform: translateX(5em);
}

.from-top {
  transform: translateY(-50%);
}

.from-bottom {
  transform: translateY(50%);
}

.payment-card-logos {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--clr-light-300);
  border-radius: 3px;
  padding: 0.5em 1em;
}
.payment-card-logos li {
  max-width: 50px;
}

.cursor-default {
  cursor: default;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-toolbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.nav-link-fill-icon:hover svg path {
  fill: var(--clr-primary-500);
}

.nav-link-stroke-icon:hover svg path {
  stroke: var(--clr-primary-500);
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.primary-scrollbar {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.primary-scrollbar::-webkit-scrollbar {
  width: 7px;
}
.primary-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.primary-scrollbar::-webkit-scrollbar-thumb {
  background: var(--clr-primary-500);
  border-radius: 10px;
}
.primary-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.bg-dark-room-surgeon {
  background-image: url(../assets/images/dark-room-hospital.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-featured-image-8-dark-blend {
  background-image: url(../assets/images/featured-image-8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: soft-light;
}

.bg-title-1 {
  background-image: url(../assets/images/title-bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input-group {
  display: flex;
  align-items: center;
}
.input-group input {
  flex-basis: 80%;
  border: none;
  padding: 0;
  outline: 0;
}
.input-group input:focus {
  border: none;
  padding: 0;
  outline: 0;
}
.input-group input + button {
  flex-basis: 20%;
}

button .display {
  display: block;
}
button .hide {
  display: none;
}
button[aria-expanded=true] .display {
  display: none;
}
button[aria-expanded=true] .hide {
  display: block;
}

button[role=tab]:not(.employment-service-category-tabs button):hover {
  color: var(--clr-primary-500) !important;
}
button[role=tab]:not(.employment-service-category-tabs button)[aria-selected=true] {
  color: var(--clr-primary-500);
  border-bottom: 2px solid var(--clr-primary-500);
}

.employment-service-category-tabs button[role=tab] {
  border-radius: 0;
  background-color: #F2F2F2;
  color: inherit;
}
.employment-service-category-tabs button[role=tab]:hover {
  background-color: rgba(119, 194, 75, 0.35);
  border-bottom: 2px solid rgba(119, 194, 75, 0.35);
  color: #17A110 !important;
}
.employment-service-category-tabs button[role=tab][aria-selected=true] {
  color: var(--clr-primary-500);
  border-bottom: 2px solid rgba(119, 194, 75, 0.35);
  background-color: rgba(119, 194, 75, 0.35);
}

.custom-checkbox input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.custom-checkbox input[type=radio]:checked + label .text-colored {
  color: var(--clr-primary-500);
}

.main-toolbar .navlist > a:not([aria-label="shopping cart"]) {
  position: relative;
  display: block;
}
.main-toolbar .navlist > a:not([aria-label="shopping cart"]):not(.main-toolbar .navlist > a:not([aria-label="shopping cart"]):last-child):after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--clr-primary-500);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-out;
}
.main-toolbar .navlist > a:not([aria-label="shopping cart"]):not(.main-toolbar .navlist > a:not([aria-label="shopping cart"]):last-child)[aria-current=page] {
  color: var(--clr-primary-500);
  font-weight: 600;
}
.main-toolbar .navlist > a:not([aria-label="shopping cart"]):not(.main-toolbar .navlist > a:not([aria-label="shopping cart"]):last-child):hover:after, .main-toolbar .navlist > a:not([aria-label="shopping cart"]):not(.main-toolbar .navlist > a:not([aria-label="shopping cart"]):last-child)[aria-current=page]:after {
  width: 100%;
  transform: scaleX(1);
  transition: transform 300ms ease-in;
}

.reviews-owl-slider.owl-theme .owl-dots .owl-dot.active span {
  background: var(--clr-primary-500);
}
.reviews-owl-slider.owl-theme .owl-dots .owl-dot:hover span {
  background: #208d0580;
}
.reviews-owl-slider.owl-theme .owl-dots .owl-dot span {
  transition: all 300ms ease-in-out;
  height: 7px;
  width: 30px;
  margin: 0;
  margin-right: -5%;
  border-radius: 0;
  background: #d6d6d6;
  background: white;
}
.reviews-owl-slider.owl-theme .owl-dots .owl-dot:first-child span {
  border-radius: 3px 0 0 3px;
}
.reviews-owl-slider.owl-theme .owl-dots .owl-dot:last-child span {
  border-radius: 0 3px 3px 0;
}
.reviews-owl-slider .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: var(--size-600);
}

.hero-owl-slider {
  /* Feel free to change duration  */
  /* .owl-animated-out - only for current item */
  /* This is very important class. Use z-index if you want move Out item above In item */
  /* .owl-animated-in - only for upcoming item
  /* This is very important class. Use z-index if you want move In item above Out item */
  /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
}
.hero-owl-slider .owl-dots {
  position: absolute;
  bottom: 2em;
  width: 100%;
}
.hero-owl-slider .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  background-color: var(--clr-accent-600);
  border: 5px solid var(--clr-accent-600);
  outline: 3px solid var(--clr-accent-600);
}
.hero-owl-slider .owl-dots .owl-dot.active span {
  background-color: white;
  border: 5px solid black;
  outline: 3px solid white;
}
@media (max-width: 768px) {
  .hero-owl-slider .owl-dots {
    bottom: 1em;
  }
  .hero-owl-slider .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    border: 3px solid var(--clr-accent-600);
    outline: 1px solid var(--clr-accent-600);
  }
  .hero-owl-slider .owl-dots .owl-dot.active span {
    border: 3px solid black;
    outline: 1px solid white;
  }
  .hero-owl-slider .hero-item {
    position: relative;
    min-height: 496px;
  }
  .hero-owl-slider .hero-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.hero-owl-slider .animated {
  -webkit-animation-duration: 1000 ms;
  animation-duration: 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hero-owl-slider .owl-animated-out {
  z-index: 1;
}
.hero-owl-slider .owl-animated-in {
  z-index: 0;
}
.hero-owl-slider .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.breadcrumb li:not(:last-child) {
  font-weight: 600;
}
.breadcrumb li:not(:last-child):after {
  content: "/";
  margin-right: 2px;
}

.product-listing-card .title {
  height: 40px;
  font-size: 0.9rem;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.out-of-stock {
  --textWidth: 100px;
  position: relative;
}
.out-of-stock::after {
  content: "Out of stock";
  font-weight: 400;
  font-size: 15px;
  color: #1b2c19;
  background: #f2cb56;
  border: 1px solid #818181;
  border-radius: 5px;
  padding: 0.1em 0.3em;
  position: absolute;
  top: 46%;
  left: calc(50% - var(--textWidth) / 2);
  display: block;
  margin: 0 auto;
  width: var(--textWidth);
  z-index: 3;
}
.out-of-stock::before {
  content: "";
  position: absolute;
  background-color: #ffffff8e;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.out-of-stock:hover img {
  transform: scale(1);
  transition: unset;
}
.out-of-stock:hover .card-footer {
  display: none;
}

.feature-card {
  overflow: hidden;
  position: relative;
}
.feature-card:hover img {
  transform: scale(1.1);
}
.feature-card img {
  transform: scale(1);
  position: relative;
  z-index: 0;
  transition: transform 0.5s ease-in-out;
}
.feature-card .title {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: var(--size-400);
}
.feature-card .title span {
  font-weight: var(--fw-semi-bold);
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  color: var(--clr-neutral-500);
  font-size: var(--fs-50);
  line-height: var(--size-500);
  padding: var(--size-200) var(--size-200);
  border-radius: var(--size-200);
}
@media (min-width: 50em) {
  .feature-card .title span {
    line-height: var(--size-500);
    padding: var(--size-200) var(--size-300);
    border-radius: var(--size-200);
  }
}

.review-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  line-height: 20px;
}
.review-card .review-footer {
  position: relative;
}
.review-card .review-footer .foot-image {
  width: 60px;
  height: 60px;
  border-radius: 100vmax;
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: -30px;
}

.blogpost-card .body {
  line-height: 25px;
  height: 75px;
  overflow: hidden;
}

table.table-pd-1 th,
table.table-pd-1 td {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: var(--cli-accent-50);
}

.product-action-details .social-icons .label {
  margin-right: 4.4em;
}
.product-action-details .social-icons .social-icon {
  max-width: 24px;
  margin-right: 0.3em;
}
.product-action-details .social-icons .social-icon:last-child {
  margin-right: 0;
}

.qty-ctrl {
  border: 1px solid var(--clr-accent-50);
  width: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 18px);
  border-radius: 5px;
}
.qty-ctrl div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.qty-ctrl div:nth-of-type(1) {
  grid-column: span 1;
  grid-row: 1/-1;
  order: 1;
}
.qty-ctrl div:nth-of-type(2) {
  grid-column: 2/3;
  order: 2;
  border-left: 1px solid var(--clr-accent-50);
  border-bottom: 1px solid var(--clr-accent-50);
}
.qty-ctrl div:nth-of-type(3) {
  grid-column: 2/3;
  order: 3;
  border-left: 1px solid var(--clr-accent-50);
}
.qty-ctrl div button {
  outline: 0;
  border: 0;
  background-color: unset;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qty-ctrl div button:hover {
  background-color: var(--clr-accent-500);
}

.product-image-canvas {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product-image-canvas .preview {
  max-width: 250px;
  margin: 0 auto;
  flex-basis: 80%;
}
.product-image-canvas .preview .inner {
  height: 270px;
}
.product-image-canvas .product-images {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-basis: 20%;
}
.product-image-canvas .product-images li {
  max-width: 50px;
  cursor: pointer;
}

footer .navbar-brand {
  display: block;
  max-width: 124px;
}

.tick-icon.hide .tick-animate-wrap::after {
  width: 100%;
  transform: scaleX(1);
}
.tick-icon .tick-animate-wrap::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 1s;
}

.appointment-form-stepper .progress-point {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
  border: 2px solid var(--clr-accent-730);
}
.appointment-form-stepper .progress-point .inner {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--clr-accent-730);
  border: 1px solid white;
}
.appointment-form-stepper .step.current {
  color: var(--clr-primary-500);
  font-weight: 600;
}
.appointment-form-stepper .step.current .progress-point {
  border: 2px solid var(--clr-primary-500);
}
.appointment-form-stepper .step.current .progress-point .inner {
  background-color: var(--clr-primary-500);
}
.appointment-form-stepper .stepper {
  position: relative;
  left: 0;
  right: 0;
}
.appointment-form-stepper .stepper + * {
  display: none;
}
.appointment-form-stepper .stepper.show {
  display: block;
}
.appointment-form-stepper .stepper.show + * {
  display: flex;
}
.appointment-form-stepper .stepper .pages {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  transition: margin-left 300ms ease-in-out;
}
.appointment-form-stepper .stepper .pages .page {
  flex-basis: 100%;
}

/**/
.stepper-widget .progress-point {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
  border: 2px solid var(--clr-accent-730);
}
.stepper-widget .progress-point .inner {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--clr-accent-730);
  border: 1px solid white;
}
.stepper-widget .step.current {
  color: var(--clr-primary-500);
  font-weight: 600;
}
.stepper-widget .step.current .progress-point {
  border: 2px solid var(--clr-primary-500);
}
.stepper-widget .step.current .progress-point .inner {
  background-color: var(--clr-primary-500);
}
.stepper-widget .stepper {
  display: none;
  overflow-x: hidden;
  position: relative;
  left: 0;
  right: 0;
}
.stepper-widget .stepper + * {
  display: none;
}
.stepper-widget .stepper.show {
  display: block;
}
.stepper-widget .stepper.show + * {
  display: flex;
}
.stepper-widget .stepper .pages {
  display: flex;
  margin-left: 0;
  transition: margin-left 300ms ease-in-out;
}
.stepper-widget .stepper .pages .page {
  flex-basis: 100%;
}

.notifications {
  display: flex;
  flex-direction: column;
}
.notifications .item {
  padding: 0.9em 0;
}
.notifications .item:not(.notifications .item:last-child) {
  border-bottom: 1px solid var(--clr-accent-600);
}

.list-disc {
  list-style-type: disc;
}

.list-circle-tick {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.list-circle-tick li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list-circle-tick li::before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
  background-image: url(../assets/icons/icon-tick-circle-green.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn:focus, .btn:focus-visible, .btn:active {
  outline: 0;
  box-shadow: none;
  box-shadow: 0;
}

button.navbar-toggler {
  border: none;
}
button.navbar-toggler:focus {
  outline: 0;
  box-shadow: unset;
}
button.navbar-toggler .feather-menu {
  display: block;
}
button.navbar-toggler .feather-x {
  display: none;
}
button.navbar-toggler[aria-expanded=true] .feather-menu {
  display: none;
}
button.navbar-toggler[aria-expanded=true] .feather-x {
  display: block !important;
}

.button,
a.button {
  color: var(--clr-neutral-500);
  background-color: var(--clr-primary-500);
  padding: 0.8em 1.8em;
  border: 0;
  border-radius: 5px;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-button);
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
}
.button:hover, .button:focus-visible,
a.button:hover,
a.button:focus-visible {
  background-color: var(--clr-primary-600);
}
.button:disabled,
a.button:disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.button[data-type=inverted] {
  background-color: var(--clr-neutral-500);
  color: var(--clr-primary-500);
  border: 2px solid var(--clr-primary-500);
}

a.button {
  display: inline-block;
}

.cta {
  display: block;
  border-radius: 100vmax;
}

button.cta,
a.cta {
  display: block;
  border-radius: 100vmax;
}

.submit-btn {
  min-height: 39px;
  padding-right: 2.5em;
  padding-left: 2.5em;
}
@media (min-width: 50em) {
  .submit-btn {
    min-height: 45px;
  }
}

.add-to-cart,
.add-to-wishlist {
  height: 45px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.add-to-cart {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
  color: #ffffff;
}

.add-to-wishlist {
  background: #ffffff;
  border: 1px solid #fa5252;
  color: #fa5252;
}

button[aria-label="remove item table item"] {
  border: none;
  max-width: 20px;
}

.chat-screen {
  font-size: 0.8rem;
}
.chat-screen .streams .event[data-type=host] {
  text-align: right;
}
.chat-screen .streams .event[data-type=host] .body {
  text-align: left;
}
.chat-screen .streams .event[data-type=client] .content .inner {
  background-color: var(--clr-accent-600);
}
@media (min-width: 50em) {
  .chat-screen .streams .event[data-type=client] .content {
    margin-left: 50px;
  }
}
.chat-screen .streams .event .content .inner {
  background-color: var(--clr-accent-400);
}
@media (min-width: 50em) {
  .chat-screen .streams .event .content {
    display: flex;
    gap: 10px;
  }
  .chat-screen .streams .event .content::before {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background-image: url(../assets/icons/account_circle_black.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -60px;
  }
}

.services-card-grid {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(12, 1fr);
}
.services-card-grid .item:nth-of-type(1) {
  grid-column: 1/7;
}
.services-card-grid .item:nth-of-type(2) {
  grid-column: 7/-1;
}
.services-card-grid .item:nth-of-type(3) {
  grid-column: 1/7;
}
.services-card-grid .item:nth-of-type(4) {
  grid-column: 7/-1;
}
.services-card-grid .item:nth-of-type(5) {
  grid-column: 1/7;
}
.services-card-grid .item:nth-of-type(6) {
  grid-column: 7/-1;
}
.services-card-grid .item:nth-of-type(6) {
  grid-column: 7/-1;
}
.services-card-grid .item:nth-of-type(7) {
  grid-column: 1/-1;
}
@media (min-width: 50em) {
  .services-card-grid {
    grid-gap: 1em;
    grid-template-columns: repeat(15, 1fr);
  }
  .services-card-grid .item:nth-of-type(1) {
    grid-column: 1/4;
  }
  .services-card-grid .item:nth-of-type(2) {
    grid-column: 4/8;
  }
  .services-card-grid .item:nth-of-type(3) {
    grid-column: 8/12;
  }
  .services-card-grid .item:nth-of-type(4) {
    grid-column: 12/16;
  }
  .services-card-grid .item:nth-of-type(5) {
    grid-column: 1/5;
  }
  .services-card-grid .item:nth-of-type(6) {
    grid-column: 5/9;
  }
  .services-card-grid .item:nth-of-type(7) {
    grid-column: 9/16;
  }
}

.container {
  --max-width: 1100px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.gray-bg {
  background-color: var(--clr-accent-400);
}

.rainbow-type-bg {
  background-image: url(../assets/images/rainbow-type-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ui-datepicker .ui-datepicker-header {
  background: var(--clr-primary-50);
}

.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(237, 241, 248, 0.4);
  z-index: 99999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.page-loader.show {
  display: flex;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, var(--clr-primary-500) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
:root {
  /* COLORS */
  --clr-primary-50: hsla(86, 81%, 75%, 1);
  --clr-primary-400: hsl(152, 100%, 33%);
  --clr-primary-500: hsl(108, 93%, 29%);
  --clr-primary-600: hsl(97, 58%, 24%);
  --clr-primary-700: hsl(0, 0%, 36%);
  --clr-accent-50: #c3c3c3;
  --clr-accent-300: hsl(214, 37%, 96%);
  --clr-accent-400: hsl(0, 0%, 95%);
  --clr-accent-500: hwb(218 93% 3%);
  --clr-accent-600: hsl(0, 0%, 85%);
  --clr-accent-700: #c4c4c4;
  --clr-accent-730: #ababab;
  --clr-accent-750: #828282;
  --clr-neutral-500: #ffffff;
  --clr-secondary-500: hsl(114, 28%, 14%);
  --clr-alt-100: hsl(277, 93%, 29%);
  --clr-alt-200: hsl(223, 70%, 63%);
  --clr-alt-300: #1D9BF0;
  --clr-alt-400: #FF9AAD;
  --clr-alt-450: #FFF0F1;
  --clr-alt-500: #F5FFF4;
  --clr-alt-600: #F2CB56;
  --clr-alt-700: #EBF1C5;
  --base-text-color-100: var(--clr-accent-700);
  --base-text-color-200: var(--clr-accent-600);
  --base-text-color-500: var(--clr-primary-700);
  --base-text-color: var(--clr-secondary-500);
}

:root {
  /* SIZES */
  --size-50: 1.88em;
  --size-100: 2.63em;
  --size-250: 3.81em;
  --size-300: 4.88em;
  --size-500: 6.25em;
}

:root {
  /* TYPOGRAPHY */
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);
  /* FONT SIZES */
  --fs-50: 0.81rem;
  /*13px*/
  --fs-100: 0.88rem;
  /*14px*/
  --fs-150: 0.94rem;
  /*15px*/
  --fs-200: 1rem;
  /*16px*/
  --fs-300: 1.38rem;
  /*22px*/
  --fs-400: 1.56rem;
  /*25px*/
  --fs-500: 2.5rem;
  /*40px*/
  --fs-600: 4.38rem;
  /*70px*/
  --fs-nav: var(--fs-150);
  --fs-body: var(--fs-200);
  --fs-hero-title: var(--fs-600);
  --fs-section-headline: var(--fs-500);
  --fs-section-title: var(--fs-300);
  --fs-card-body: var(--fs-50);
  --fs-footer-body: var(--fs-50);
  --fs-button: var(--fs-150);
  /* SIZES */
  --size-200: 0.2rem;
  --size-250: 0.313rem;
  /* 5px */
  --size-300: 0.5rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

@media (max-width: 50em) {
  :root {
    --fs-hero-title: var(--fs-500);
    --fs-section-headline: var(--fs-300);
    --fs-section-title: var(--fs-100);
    --size-400: 0.6rem;
    --size-500: 1.1rem;
    --size-600: 1.7rem;
    --fs-300: 1.18rem;
    --fs-400: 1.3rem;
    --fs-500: 2.1rem;
    --fs-600: 2.7rem;
    --fs-button: var(--fs-100);
  }
}
.ff-title {
  font-family: var(--ff-secondary);
}

.ff-body {
  font-family: var(--ff-body) !important;
}

.fs-hero-title {
  font-size: var(--fs-hero-title);
  line-height: 1;
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-section-headline {
  font-size: var(--fs-section-headline);
  line-height: 1.2;
}

.fs-section-title {
  font-size: var(--fs-section-title);
}

/* Line Heights */
.line-height-300 {
  line-height: var(--fs-300);
}

.line-height-400 {
  line-height: var(--fs-400);
}

.hero {
  background-image: url("../images/bg-hero-2.png");
  background-size: cover;
  background-blend-mode: soft-light;
}

@media (min-width: 50em) {
  .hero-height {
    min-height: 566px;
  }
}

#reviews .sub-heading {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}

ul[data-type=sponsors] {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
ul[data-type=sponsors] li {
  display: grid;
  place-content: center;
}
@media (min-width: 50em) {
  ul[data-type=sponsors] {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

@media (min-width: 50em) {
  .services-list-grid .grid-row-1 {
    display: flex;
    flex-wrap: wrap;
  }
  .services-list-grid .grid-row-1 .fs-section-headline {
    max-width: 200px;
  }
  .services-list-grid .grid-row-1 .services-list {
    display: flex;
  }
  .services-list-grid .grid-row-2 {
    display: flex;
    flex-wrap: wrap;
  }
}
/* Default state */
input {
  border-bottom: 1px solid #b0bec5;
  /* Default border color */
}

/* Focused state */
input:focus {
  border-bottom: 2px solid #2196f3;
  /* Focused border color */
}

/* Error state */
input.error {
  border-bottom: 2px solid #fa5252;
  /* Error border color */
}

[type=checkbox]:focus, [type=checkbox]:checked,
[type=radio]:focus,
[type=radio]:checked {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-color: var(--clr-primary-500);
  color: var(--clr-primary-500);
}

.employment-service-category-tabs .data-tabs-active-classes {
  background-color: red;
}

/*# sourceMappingURL=main.css.map */
