/* Error: Can't find stylesheet to import.
 *    ,
 * 16 | @forward "./buttons";
 *    | ^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\stylesheets\sass\_components\_index.scss 16:1  @use
 *   src\stylesheets\sass\main.scss 3:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 16 \2502  @forward \"./buttons\";\d\a    \2502  ^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\stylesheets\\sass\\_components\\_index.scss 16:1  @use\a   src\\stylesheets\\sass\\main.scss 3:1                 root stylesheet";
}
