@use "../_partials/mixins";


/* font sizes */
.fs-50 {
  font-size: var(--fs-50);
}
.fs-100 {
  font-size: var(--fs-100);
}
.fs-150 {
  font-size: var(--fs-150);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}



/* Padding */

.padding-block-400 {
  @include mixins.padding-block(var(--size-400));
}

.padding-block-500 {
  @include mixins.padding-block(var(--size-500));
}

.padding-block-600 {
  @include mixins.padding-block(var(--size-600));
}

.padding-block-700 {
  @include mixins.padding-block(calc(var(--size-600) + var(--size-400)));
}

.padding-block-800 {
  @include mixins.padding-block(calc(var(--size-600) + var(--size-400) + var(--size-400)));
}

.pill {
  border-radius: 100vmax;
}

.after-pseudo-icon {
  display: flex;

  &.caret-down {
    &::after {
      @include mixins.after("\f0d7", inherit);
      margin-left: 1em;
      color: var(--clr-bright);
    }
  }
}

/* Animation Classes*/

.fade-in {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  &.appear {
    opacity: 1;
  }
}
.from-left,
.from-right,
.from-bottom {
  transition: transform 1000ms ease-in-out;
  position: absolute;
  opacity: 0;
  &.appear {
    position: relative;
    transform: translateX(0);
    opacity: 1;
  }
}
.from-left {
  transform: translateX(-5em);
}
.from-right {
  transform: translateX(5em);
}

.from-top {
  transform: translateY(-50%);
}

.from-bottom {
  transform: translateY(50%);
}

.payment-card-logos {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--clr-light-300);
  border-radius: 3px;
  padding: 0.5em 1em;
  li {
    max-width: 50px;
  }
}

.cursor-default {
  cursor: default;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// .tick-circle{
//   background-color: red;
//   position: relative;

//   svg{
//     position: absolute;
//     right: 0;
//     background-color: blue;
//   }
// }

.main-toolbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.nav-link-fill-icon {
  &:hover {
    svg {
      path {
        fill: var(--clr-primary-500);
      }
    }
  }
}

.nav-link-stroke-icon {
  &:hover {
    svg {
      path {
        stroke: var(--clr-primary-500);
      }
    }
  }
}

.remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.primary-scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--clr-primary-500);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}
