@use "../_partials/mixins";

.hero {
  // min-height: 566px;
  // background-color: black;
  background-image: url("../images/bg-hero-2.png");
  background-size: cover;
  background-blend-mode: soft-light;
}

.hero-height {
  // background-color: blue;

  @include mixins.minmq(50em) {
    min-height: 566px;
  }
}

#reviews {
  .sub-heading {
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
  }
}

ul[data-type="sponsors"] {
  // background-color: yellow;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  li {
    // border: 1px solid black;
    display: grid;
    place-content: center;
  }
  @include mixins.minmq(50em) {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

@include mixins.minmq(50em) {
  .services-list-grid {
    .grid-row-1 {
      display: flex;
      flex-wrap: wrap;

      .fs-section-headline {
        max-width: 200px;
      }
      .services-list {
        display: flex;
      }
    }

    .grid-row-2 {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
